@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --bg: #F9FAFB;
  --surface: #FFFFFF;
  --surface2: #F3F4F6;
  --surface3: #E5E7EB;
  --border: #E5E7EB;
  --text: #1F2937;
  --text2: #6B7280;
  --accent: #3B82F6;
  --accent2: #60A5FA;
}

.dark {
  --bg: #111827;
  --surface: #1F2937;
  --surface2: #374151;
  --surface3: #4B5563;
  --border: #374151;
  --text: #F9FAFB;
  --text2: #9CA3AF;
  --accent: #60A5FA;
  --accent2: #3B82F6;
}

body {
  background-color: var(--bg);
  color: var(--text);
}